/* Pull in the fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #a1de78;
  text-decoration: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #2c4857;

}

.menu-container {
  color: #fff;
  background-color: #2c4857;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
}

.menu {
  width: 900px;
  display: inline-flex;
  justify-content: flex-end;
  text-decoration: none;
}

.menu ul {
  display: inline-flex;
  text-decoration: none;
}

.menu li {
  display: inline-flex;
  text-decoration: none;
  padding: 5px;
}

.menu a {
  color: #a1de78;
  text-decoration: none;
}

a:hover {
  opacity: .5;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  color: #a1de78;
  line-height: 30px;
}

.contact {
  margin-left: 20px;
}

.work {
  margin-left: auto;
}

.home {
  margin-left: auto;
}

.header-container {
  color: #2C4857;
  background-color: #9cceaf;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-grid-container,
.contact-grid-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
  
.img-grid,
.contact-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
  
.img-grid-item,
.contact-grid-item {
  width: 200px;
  height: 200px;
  margin: 30px 5px 5px 5px;
}

.contact-grid {
  background-color: #9cceaf;
}

.contact-grid a {
  color: #2C4857;
}

.social,
.subscribe {
  display: flex;
  justify-content: center;
  background-color: #a1de78;
}

.social a {
  color: #2c4857;
}

.contact-details {
  display: flex;
  justify-content: center;
  margin: 20px 10px 0 10px;
}

.contact-heading h1 {
  background-color: #a1de78;
  color: #2c4857;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
  
.footer-item {
  border-top: 1px solid #9cceaf;
  color: #fff;
  background-color: #2c4857;
  line-height: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.samples-section,
.contact-section {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: #fff;
}

.samples-heading,
.contact-heading {
  color: #fff;
  display: flex;
  justify-content: center;
}

.fa-size {
  font-size: 108px !important;
}

@media only screen and (max-width: 360px) {

  .contact-grid-item {
    width: auto;
    height: auto;
  }

  .fa-size {
    font-size: 48px !important;
  }
    
  .logo {
    width: auto;
    height: auto;
  }

  .menu {
    margin: 0;
  }

  .nav-logo {
    display: none;
  }
}

@media only screen and (max-width: 1040px) {
  .logo {
    width: auto;
    height: auto;
  }

  .menu {
    margin: 0;
  }

  .nav-logo {
    display: none;
  }
}
